In [1]:
import pandas as pd
import numpy as np
import re

Import all the necessary libraries.

In [2]:
# set the path to the data that needs to be cleaned
path = "../data/raw/houses_moreinfo.csv"

In [3]:
# read the data
df = pd.read_csv(path)

In [4]:
# print the first 5 rows of the dataframe
print(df.head())

   id        city                                                 \
0    1882546  Wenduine                                      ...
1    2784938  Heist-aan-Zee                                 ...
2    4679861  Oostende                                      ...
3    5650273  Dilsen-Stokkem                                ...
4    6349237  Corswarem                                     ...

   postal_code   district            province            price      \
0          8420  Oostend               West Flanders       163000
1          8301  Brugge                West Flanders       108000
2          8400  Oostend               West Flanders       330000
3          3650  Maaseik             Limburg               535000
4          4257  Waremme               Li√®ge

   type_sale         subtype                sale_type   state_construction   \
0  HOUSE             CHALET                 FOR_SALE    AS_NEW
1  HOUSE             BUNGALOW               FOR_SALE    AS_NEW
2  HOUSE             HOUSE                  FOR_SALE    GOOD
3  HOUSE             APARTMENT_BLOCK        FOR_SALE
4  HOUSE_GROUP       HOUSE_GROUP            FOR_SALE

   ... swimmingpool   has_balcony   has_terrace   has_attic   has_basement   \
0  ...             0
1  ...             0
2  ...             0                          1
3  ...             0
4  ...             0

   construction_year   epc      heating   life_annuity   area_total
0               2023            GAS                   0         155
1               2023            GAS                   0         170
2                      B                              0          65
3               1988   B        GAS                   0           0
4                                                     0

[5 rows x 33 columns]

In [5]:
# print out the columns of the dataframe
print(df.columns)

Index(['id       ', 'city                                               ',
       'postal_code ', 'district          ', 'province          ', 'price    ',
       'type_sale       ', 'subtype              ', 'sale_type ',
       'state_construction ', 'living_area ', 'terrace_area ', 'garden_area ',
       'rooms ', 'bedrooms ', 'bathrooms ', 'livingroom_surface ',
       'kitchen_surface ', 'facades ', 'has_garden ', 'kitchen ', 'furnished ',
       'fireplace ', 'swimmingpool ', 'has_balcony ', 'has_terrace ',
       'has_attic ', 'has_basement ', 'construction_year ', 'epc    ',
       'heating  ', 'life_annuity ', 'area_total'],
      dtype='object')

Define the functions to clean the data.

In [6]:
def strip_spaces(value):
    """Strip leading and trailing white spaces."""
    if isinstance(value, str):
        return re.sub(r"\s+", " ", value).strip()
    return value


def trim_whitespace(df):
    """Trim leading and trailing white spaces from all string columns and column names."""
    # Trim whitespaces from column names
    df.columns = df.columns.map(strip_spaces)

    # Trim whitespaces from string values in the DataFrame
    df = df.apply(lambda x: x.apply(strip_spaces))

    return df

In [7]:
df = trim_whitespace(df)

In [8]:
# print out the columns of the dataframe
print(df.columns)

Index(['id', 'city', 'postal_code', 'district', 'province', 'price',
       'type_sale', 'subtype', 'sale_type', 'state_construction',
       'living_area', 'terrace_area', 'garden_area', 'rooms', 'bedrooms',
       'bathrooms', 'livingroom_surface', 'kitchen_surface', 'facades',
       'has_garden', 'kitchen', 'furnished', 'fireplace', 'swimmingpool',
       'has_balcony', 'has_terrace', 'has_attic', 'has_basement',
       'construction_year', 'epc', 'heating', 'life_annuity', 'area_total'],
      dtype='object')

In [9]:
def replace_empty_with_nan(df):
    """Replace empty strings with NaN."""
    df.replace("", np.nan, inplace=True)
    return df

In [10]:
def calculate_missing_values(df):
    """Calculate the proportion of missing values per column."""
    missing_values = df.isnull().mean() * 100
    print("Proportion of missing values per column:")
    print(missing_values)
    return missing_values

In [11]:
def strip_price(df):
    """Strip leading and trailing whitespaces from 'price' column."""
    if df["price"].dtype == "object":
        df["price"] = df["price"].str.strip()
    return df

In [12]:
def convert_price_to_numeric(df):
    """Convert 'price' column to numeric."""
    df["price"] = pd.to_numeric(df["price"], errors="coerce")
    return df

In [13]:
def drop_missing_price(df):
    """Drop rows with missing 'price' values."""
    df.dropna(subset=["price"], inplace=True)
    return df

In [14]:
def drop_life_annuity(df):
    """Drop rows where 'life_annuity' column equals 1."""
    df = df[df["life_annuity"] != 1]
    return df

In [15]:
def drop_subtype(df):
    """Drop rows where 'subtype' column equals 'APARTMENT_BLOCK'."""
    df = df[df["subtype"] != "APARTMENT_BLOCK"]
    return df

In [16]:
def drop_specified_columns(df):
    """Drop specified columns."""
    df.drop(
        ["type_sale", "sale_type", "has_balcony", "life_annuity"], axis=1, inplace=True
    )
    return df

Call the functions and save it as a csv file.

In [17]:
def clean_dataframe(df):
    """Clean the DataFrame and output as a CSV file."""
    df = strip_price(df)
    df = convert_price_to_numeric(df)
    df = drop_missing_price(df)
    df = drop_life_annuity(df)
    df = drop_subtype(df)
    df = drop_specified_columns(df)
    df = trim_whitespace(df)
    df = replace_empty_with_nan(df)
    missing_values = calculate_missing_values(df)
    print(f'the missing values are: {missing_values}')
    print("Cleaning complete.")

    # Save the cleaned DataFrame as a CSV file
    df.to_csv("cleaned_dataframe.csv", index=False)

    return df

Call the functions to clean the data.

In [18]:
df = clean_dataframe(df)

NameError: name 'np' is not defined